* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'gilroy', sans-serif;
}

body {
  background-color: #dadada;
  
}

.container {
  background-color: white;
  width: 80%; /* Adjusted width for larger screens */
  max-width: 300px; /* Maximum width for smaller screens */
  height: auto;
  position: absolute;
  padding: 20px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.content {
  text-align: center;
  padding: 10px;
}

.img1 {
  width: 40px; /* Adjusted width for smaller screens */
  margin-top: 4px;
}

.header {
  font-size: 16px; /* Adjusted font size for smaller screens */
  font-weight: 700;
  margin-top: 8px; /* Adjusted margin-top for smaller screens */
  margin-bottom: 10px; /* Adjusted margin-bottom for smaller screens */
  line-height: .9; /* Adjusted line-height for smaller screens */
}

.detail {
  width: 100%;
  height: 25px; /* Adjusted height for smaller screens */
  margin: 5px 0;
  padding: 8px;
  font-size: 11px; /* Adjusted font size for smaller screens */
  color: gray;
  border: 1px solid rgb(218, 214, 214);
  border-radius: 8px;
}

.forgot {
  text-decoration: none;
  font-size: 10px; /* Adjusted font size for smaller screens */
  font-weight: 700;
  margin: 5px;
}

.btn {
  width: 100%;
  height: 20px; /* Adjusted height for smaller screens */
  border: hidden;
  border-radius: 10px; /* Adjusted border-radius for smaller screens */
  font-size: 12px; /* Adjusted font size for smaller screens */
  margin: 5px 0;
}

.int,
.fbk,
.ggl {
  width: 100%;
  height: 30px; /* Adjusted height for smaller screens */
  border-radius: 10px; /* Adjusted border-radius for smaller screens */
  font-size: 12px; /* Adjusted font size for smaller screens */
  margin: 8px 0;
  background-color: #df0812;
  color: white;
  transition: background-color 0.4s;
}

.int:hover {
  background-color: #ab030b;
  color: white;
}

.or {
  font-size: 9px; /* Adjusted font size for smaller screens */
  font-weight: 700;
  margin: 8px 0;
}

footer{
  margin-top: 8px;
}

footer p {
  font-size: 11px; /* Adjusted font size for smaller screens */
  margin: 7px;
}

p:last-child {
  opacity: 1;
}

hr {
  width: 30%;
  opacity: 0.4;
  margin-left: 35%;
}

.upbtn {
  position: relative;
  top: 15px;
  left: 70px; /* Adjusted left position for smaller screens */
  font-size: 10px; /* Adjusted font size for smaller screens */
  font-weight: 700;
  text-align: center;
  width: 60px; /* Adjusted width for smaller screens */
  padding: 5px 0; /* Adjusted padding for smaller screens */
  background-color: rgb(241, 236, 236);
  border-radius: 10px; /* Adjusted border-radius for smaller screens */
  cursor: pointer;
}

.error{
  font-size: 14px;
 font-weight: 500;
 color: red;
 text-transform: capitalize;
 margin: 7px 0; 
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    max-width: none;
  }

  .header {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 4px;
    line-height: 20px;
  }

  .detail,
  .btn,
  .int,
  .fbk,
  .ggl {
    font-size: 10px;
  }

  .upbtn {
    left: 50px;
    font-size: 9px;
    width: 50px;
    padding: 4px 0;
  }
}
